<div class="ttvcmsofferbanners-two container-fluid">
	<div class="ttvbanner container">
		<div class="ttvtwobanner-all-img row">
			<div class="ttvbanner-wrapper ttvtwo-banner-first col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="ttvbanner1 ttvbanner-image-content-wrapper">
					<a href="{{ bannarlist.tvcmstwoofferbannersub_link_1 }}" title="{{ bannarlist.tvcmstwoofferbannersub_img_cap_1 }}">
						 <div class="ttvbanner-image-wrapper">
							<div class="ttvbranner-hover-info-box"></div>
							<div class="ttvbanner-hover"></div>
							<img src="{{ bannarlist.tvcmstwoofferbannersub_image_1 }}" class="img-responsive" alt="{{ bannarlist.tvcmstwoofferbannersub_img_cap_1 }}" />
							<div class="ttvbanner-hover1"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="ttvbanner-wrapper ttvtwobanner-second col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="ttvbanner2 ttvbanner-image-content-wrapper">
					<a href="{{ bannarlist.tvcmstwoofferbannersub_link_2 }}" title="{{ bannarlist.tvcmstwoofferbannersub_img_cap_2 }}">
						 <div class="ttvbanner-image-wrapper">
							<div class="ttvbranner-hover-info-box"></div>
							<div class="ttvbanner-hover"></div>
							<img src="{{ bannarlist.tvcmstwoofferbannersub_image_2}}" class="img-responsive" alt="{{ bannarlist.tvcmstwoofferbannersub_img_cap_2 }}" />
							<div class="ttvbanner-hover1"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>